node_modules
.history

subgraph.yaml

subgraph.goerli.yaml
subgraph.mainnet.yaml
subgraph.polygon.yaml
subgraph.mumbai.yaml
subgraph.avalanche.yaml
subgraph.optimism.yaml
subgraph.optimism-goerli.yaml
subgraph.arbitrum-goerli.yaml

networks/local.json
build

# Matchstick binaries
tests/.bin/
